<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <title>ECUST ACM 做题天梯</title>
</head>
<body> 
    <h1>ECUST ACM 做题天梯</h1>
    <!-- <a href="/register">注册</a> -->
    <table id="myTable2"   class="pure-table">
        <tr>
            <th onclick="sortTable(0)">姓名</th>
            <th onclick="sortTable(1)">用户名</th>
            <th onclick="sortTable(2)">专业</th>
            <th onclick="sortTable(3)">年级</th>
            <th onclick="sortTable(4)">24小时</th>
            <th onclick="sortTable(5)">7天</th>
            <th onclick="sortTable(6)">30天</th>
            <th onclick="sortTable(7)">总AC</th>
            <th onclick="sortTable(8)">总尝试</th>
        </tr>
        {% for user in users %}
        <tr>
            <td> <a href="https://vjudge.net/user/{{user[1]}}">{{user[2]}}</a></td>
            <td>{{user[1]}}</td>
            <td>{{user[3]}}</td>
            <td>{{user[4]}}</td>
            <td>{{user[5][0][2]}}</td>
            <td>{{user[5][0][3]}}</td>
            <td>{{user[5][0][4]}}</td>
            <td>{{user[5][0][5]}}</td>
            <td>{{user[5][0][6]}}</td>
        </tr>
        {% endfor %}
    </table>
          <p><a href="/log"> 更新信息 </a></p>  
            <script>
                
            function sortTable(n) {
                console.log('sb');
              var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
              table = document.getElementById("myTable2");
              switching = true;
              // Set the sorting direction to ascending:
              dir = "asc"; 
              /* Make a loop that will continue until
              no switching has been done: */
              while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.getElementsByTagName("TR");
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                  // Start by saying there should be no switching:
                  shouldSwitch = false;
                  /* Get the two elements you want to compare,
                  one from current row and one from the next: */
                  x = rows[i].getElementsByTagName("TD")[n];
                  y = rows[i + 1].getElementsByTagName("TD")[n];
                  /* Check if the two rows should switch place,
                  based on the direction, asc or desc: */
                  var xx = x.innerHTML.toLocaleLowerCase();
                  var yy = y.innerHTML.toLocaleLowerCase();
                  if (dir == "asc") {
                    if (parseInt(xx) > parseInt(yy)) {
                      // If so, mark as a switch and break the loop:
                      shouldSwitch= true;
                      break;
                    }
                  } else if (dir == "desc") {
                    if (parseInt(xx) < parseInt(yy)) {
                      // If so, mark as a switch and break the loop:
                      shouldSwitch= true;
                      break;
                    }
                  }
                }
                if (shouldSwitch) {
                  /* If a switch has been marked, make the switch
                  and mark that a switch has been done: */
                  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                  switching = true;
                  // Each time a switch is done, increase this count by 1:
                  switchcount ++; 
                } else {
                  /* If no switching has been done AND the direction is "asc",
                  set the direction to "desc" and run the while loop again. */
                  if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                  }
                }
              }
            }
            </script>
            <style>
th
{
    cursor:pointer;
}
            </style>
</body>
</html>