<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <title>更新信息</title>
</head>
<body>
    <h1>更新信息</h1>
        <h2>2017/11/23</h2>
        <ul>
            <li>新增更新信息页面</li>
            <li>修复网页排序异常</li>
            <li>数据库增加爬取时间戳字段</li>
            <li>修改爬取逻辑，如果时间间隔不超过一定时间则不爬取</li>
            <li>使用了pure.css的table样式</li>
        </ul>        
</body>
</html>