<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <input name="name" placeholder="姓名" value="" type="text">
        <input name="username" placeholder="vjudge用户名" value="" type="text">
        <input name="major" placeholder="专业" value="" type="text">
        <input name="year" placeholder="年级" value="" type="number">
        <input name="submit" type="submit">
    </form>
</body>
</html>